target/
.DS_Store
.classpath
.project
.idea/
*.prefs
*.mp3
*.releaseBackup
release.properties
rebel.xml
bin/
.gradle
build/
*.lock
_site/
docs/*

local.properties
uats/src/main/resources/crossfade.ogg
