target/
out/
_tools/ikvm/
generated-src/
monogame/obj/
monogame-pipeline-ext/obj/
uats-monogame/obj/
uats-monogame/Content/obj/
packages/
.DS_Store
.classpath
.project
.idea/
.vscode/
*.prefs
*.mp3
*.releaseBackup
release.properties
rebel.xml
bin/
.gradle
build/
*.lock
_site/
Gemfile.lock

local.properties
uats/src/main/resources/crossfade.ogg
uats-android/gen/
uats-android/assets/ui.xml
uats-android/assets/explosion.p
uats-android/assets/music.ogg
uats-android/assets/particles/particle.png
uats-android/assets/repeatedNinePatch.png
uats-android/assets/sound.ogg
uats-android/assets/texture-region-uat.atlas
uats-android/assets/texture-region-uat.png
*.bak
*.iml
.vs/
*.csproj.user
_tools/__MACOSX/
obj/
*.sln.DotSettings.user
default-mdx-theme.png
default-mdx-theme.atlas
Content.mgcb
uats-libgdx-desktop-lwjgl2/assets/
uats-libgdx-desktop-lwjgl3/assets/