{% include header.html %}

<div class="divide60"></div> 
<div class="container blog-left-img">
    <div class="row">
        <div class="col-xs-12">
            {% for post in paginator.posts %}
            <div class="blog-post">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 margin20">
                        <ul class="list-inline post-detail">
                            <li>by {{ post.author }}</li>
                            <li><i class="fa fa-calendar"></i> {{ post.date }}</li>
                        </ul>
                        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                        {{ post.excerpt }}
                        <p>
                            <a href="{{ post.url | relative_url }}">Read more</a>
                        </p>
                    </div>
                </div>
            </div><!--blog post-->
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="blog-post text-center">
                <div class="row">
                    <div class="pagination">
                        {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                        {% else %}
                        <span class="previous">Previous</span>
                        {% endif %}
                        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                        {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                        {% else %}
                        <span class="next ">Next</span>
                        {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}