{% include header.html %}

<div class="process-mdx clearfix">
    <div class="container margin20">
        <div class="row">
            <div class="visible-xs col-xs-12 text-center">
                <img src="{{ "/img/windows_small.png" | relative_url }}" class="img-responsive center-block" id="download_mobile_icon" />
            </div>
            <div class="hidden-xs col-sm-6 col-md-offset-1 col-md-5 text-center">
                <img src="{{ "/img/windows_medium.png" | relative_url }}" class="img-responsive center-block" id="download_desktop_icon" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="text-center" style="padding-top: 20px">
                    <p>mini2Dx uses a Gradle-based build system.</p>
                    <p>The Project Generator provides templates for quickly setting up your game project.</p>
                    <a href="{{ site.windows_download_url }}" class="btn btn-primary btn-lg" id="download_link">mini2Dx Project Generator for Mac OS</a><br />
                    <small><a href="#otherdownloads" class="">Other Downloads</a></small>
                </div>
            </div><!--price col end-->
        </div>
    </div><!--services container-->
</div>

<div class="container">
    <div class="center-heading">
        <h2>Getting <strong>Started</strong></h2>
        <span class="center-line"></span>
    </div>
    <div class="row">
            <div class="col-md-4 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="500ms" data-wow-delay="100ms">
                    <div class="services-box-icon">
                        <i class="fa fa-cog"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Setting up your project</h4>
                        <p>
                            Get started by <a href="https://github.com/mini2Dx/mini2Dx/wiki/Setting-up-your-project">generating a new project</a> for your game using the Project Generator.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="500ms" data-wow-delay="150ms">
                    <div class="services-box-icon">
                        <i class="fa fa-mail-reply fa-rotate-270"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Importing into an IDE</h4>
                        <p>
                            Import your project into <a href="https://github.com/mini2Dx/mini2Dx/wiki/Eclipse">Eclipse</a> or <a href="https://github.com/mini2Dx/mini2Dx/wiki/IntelliJ">IntelliJ</a>. You can also <a href="https://github.com/mini2Dx/mini2Dx/wiki/Command-Line">use the command line</a> to build your project.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="services-box-icon">
                        <i class="fa fa-gamepad"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Running your game</h4>
                        <p>
                            Use the <a href="https://github.com/mini2Dx/mini2Dx/wiki/Command-Line">command line tools</a> to launch your game on desktop, Android and iOS and package it for release.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
    </div>
</div>

<div class="process-mdx-downloads clearfix">
    <div class="container">
        <div class="center-heading">
            <h2><a name="otherdownloads"></a> Other <strong>Downloads</strong></h2>
            <span class="center-line"></span>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="/img/windows_semi_small.png" class="center-block" />
                <br />
                <a href="{{ site.windows_download_url }}" class="btn btn-primary btn-block btn-lg">mini2Dx Project Generator for Windows</a>
            </div>
            <div class="col-sm-4">
                <img src="/img/macos_semi_small.png" class="img-responsive center-block" />
                <br />
                <a href="{{ site.mac_download_url }}" class="btn btn-primary btn-block btn-lg">mini2Dx Project Generator for macOS</a>
            </div>
            <div class="col-sm-4">
                <img src="/img/ubuntu_semi_small.png" class="img-responsive center-block" />
                <br />
                <a href="{{ site.linux_download_url }}" class="btn btn-primary btn-block btn-lg">mini2Dx Project Generator for Ubuntu</a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}