{% include header.html %}

<!--rev slider start-->
<div class="fullwidthbanner">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="500" data-title="Powerful Theme">
                <!-- MAIN IMAGE -->
                <img src="{{ "/img/bg-1.jpg" | relative_url }}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                        data-x="50"
                        data-y="160"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeOutExpo">
                    Your game becomes reality <br>
                    with mini2Dx
                </div>

                <div class="caption text sfl"
                        data-x="50"
                        data-y="290"
                        data-speed="1000"
                        data-start="500"
                        data-easing="easeOutExpo">
                    Start building your 2D games in Java for desktop and mobile platforms <br>
                    with quick start tools and powerful APIs available for free!
                </div>
                <div class="caption sfb rev-buttons tp-resizeme"
                        data-x="50"
                        data-y="360"
                        data-speed="500"
                        data-start="500"
                        data-easing="Sine.easeOut">
                    <a href="{{ "downloads.html" | relative_url }}" class="btn btn-theme-bg btn-lg">Get Started</a>
                </div>

                <div class="caption sfb rev-buttons tp-resizeme"
                        data-x="250"
                        data-y="360"
                        data-speed="500"
                        data-start="500"
                        data-easing="Sine.easeOut">
                    <a href="{{ "index.html#learnmore" | relative_url }}" class="btn border-white btn-lg">Learn More</a>
                </div>

            </li>
        </ul>
    </div>
</div><!--full width banner-->
<!--revolution end-->

<div class="divide60"><a name="learnmore"></a></div>     
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
                <h2>What is <strong>mini2Dx</strong> </h2>
                <span class="center-line"></span>
                <p class="sub-text margin40">
                    mini2Dx is an open-source beginner-friendly, master-ready framework for rapidly prototyping and building 2D games in Java. </p>
            </div>
        </div>

    </div><!--center heading end-->
    <div class="divide50"></div>
    <div class="row">
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed green">
                <i class="pe-7s-joy"></i>
                <h3>Write once, play everywhere</h3>
                <span class="center-line"></span>
                <p>
                    Code your game in Java and release it on Windows, Mac OS X, Linux, Android and iOS. With more platforms coming soon.
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed dark">
                <i class="pe-7s-bicycle"></i>
                <h3>Easy for beginners</h3>
                <span class="center-line"></span>
                <p>
                    Quick-start tools, tutorials and examples to help beginners get started.
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed blue">
                <i class="pe-7s-pen"></i>
                <h3>Powerful for masters</h3>
                <span class="center-line"></span>
                <p>
                    Powerful APIs and extensive documentation for experienced developers.
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed red">
                <i class="pe-7s-like"></i>
                <h3>Free and open-source</h3>
                <span class="center-line"></span>
                <p>
                    There's no fee for using mini2Dx. The source code is publicly available under the BSD 3 Clause License.
                </p>
            </div>
        </div><!--colored boxed col end-->
    </div>
</div><!--services container-->

<div class="divide80"><a name="showcase"></a></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center-heading">
                <h2><strong>Made with</strong> mini2Dx</h2>
                <span class="center-line"></span>
            </div>
        </div>                   
    </div>
</div>
<div class="container">
    <div class="cube-masonry">
        <div id="masnory-container" class="cbp">
            <div class="cbp-item identity">
                <a class="cbp-caption" data-title="{{ site.data.games[0].title }}<br>by {{ site.data.games[0].developer }}" 
                    href="{{ site.data.games[0].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[0].image | relative_url }}" alt="{{ site.data.games[0].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[0].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[0].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design">
                <a class="cbp-caption" data-title="{{ site.data.games[1].title }}<br>by {{ site.data.games[1].developer }}"
                    href="{{ site.data.games[1].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[1].image | relative_url }}" alt="{{ site.data.games[1].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[1].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[1].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item graphic identity">
                <a class="cbp-caption" data-title="{{ site.data.games[2].title }}<br>by {{ site.data.games[2].developer }}"
                    href="{{ site.data.games[2].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[2].image | relative_url }}" alt="{{ site.data.games[2].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[2].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[2].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item graphic">
                <a class="cbp-caption" data-title="{{ site.data.games[3].title }}<br>by {{ site.data.games[3].developer }}"
                    href="{{ site.data.games[3].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[3].image | relative_url }}" alt="{{ site.data.games[3].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[3].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[3].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item identity">
                <a class="cbp-caption" data-title="{{ site.data.games[4].title }}<br>by {{ site.data.games[4].developer }}"
                    href="{{ site.data.games[4].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[4].image | relative_url }}" alt="{{ site.data.games[4].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[4].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[4].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item graphic">
                <a class="cbp-caption" data-title="{{ site.data.games[5].title }}<br>by {{ site.data.games[5].developer }}" 
                    href="{{ site.data.games[5].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[5].image | relative_url }}" alt="{{ site.data.games[5].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[5].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[5].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design">
                <a class="cbp-caption" data-title="{{ site.data.games[6].title }}<br>by {{ site.data.games[6].developer }}" 
                    href="{{ site.data.games[6].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[6].image | relative_url }}" alt="{{ site.data.games[6].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[6].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[6].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item identity">
                <a class="cbp-caption" data-title="{{ site.data.games[7].title }}<br>by {{ site.data.games[7].developer }}" 
                    href="{{ site.data.games[7].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[7].image | relative_url }}" alt="{{ site.data.games[7].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[7].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[7].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item identity">
                <a class="cbp-caption" data-title="{{ site.data.games[8].title }}<br>by {{ site.data.games[8].developer }}" 
                    href="{{ site.data.games[8].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[8].image | relative_url }}" alt="{{ site.data.games[8].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[8].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[8].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design graphic">
                <a class="cbp-caption" data-title="{{ site.data.games[9].title }}<br>by {{ site.data.games[9].developer }}"
                    href="{{ site.data.games[9].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[9].image | relative_url }}" alt="{{ site.data.games[9].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[9].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[9].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design graphic">
                <a class="cbp-caption" data-title="{{ site.data.games[10].title }}<br>by {{ site.data.games[10].developer }}"
                    href="{{ site.data.games[10].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[10].image | relative_url }}" alt="{{ site.data.games[10].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[10].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[10].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design graphic">
                <a class="cbp-caption" data-title="{{ site.data.games[11].title }}<br>by {{ site.data.games[11].developer }}" 
                    href="{{ site.data.games[11].url }}">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ site.data.games[11].image | relative_url }}" alt="{{ site.data.games[11].title }}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ site.data.games[11].title }}</div>
                                <div class="cbp-l-caption-desc">{{ site.data.games[11].developer }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div><!--.cube masonry-->
</div>
<div class="divide50"><a name="features"></a></div>
<div class="assan-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>mini2Dx <strong>features</strong></h2>
                    <span class="center-line"></span>
                </div>
            </div>                   
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="500ms" data-wow-delay="100ms">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Simplified Rendering</h4>
                        <p>
                            A easy rendering API combined with sprite animation, particle effect and screen transition features.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="500ms" data-wow-delay="150ms">
                    <div class="services-box-icon">
                        <i class="fa fa-gamepad"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Gameplay Utilities</h4>
                        <p>
                            Powerful geometry classes, collision detection utilities and Tiled support with built-in collision mapping.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="services-box-icon">
                        <i class="fa fa-code"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Programming Patterns</h4>
                        <p>
                            Classes for game programming patterns such as message queues, dependency injection and object pooling
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->

            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="500ms" data-wow-delay="250ms">
                    <div class="services-box-icon">
                        <i class="fa fa-globe"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Cross-platform API</h4>
                        <p>
                            Shared code and assets across platforms. The framework abstracts away platform-specific code and bindings so you can focus on your game's logic.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="services-box-icon">
                        <i class="fa fa-object-group"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>User Interfaces</h4>
                        <p>
                            mini2Dx's responsive UI framework allows you to write your UI once and automatically change to suit the player's platform and input method.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="500ms" data-wow-delay="350ms">
                    <div class="services-box-icon">
                        <i class="fa fa-flag"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Embedded Scripting</h4>
                        <p>
                            Easily embed Groovy, Ruby, Python or Lua as a scripting language for your game. Script your game objects or even provide a modding API to your players.
                        </p>

                    </div>
                </div><!--services box-->
            </div><!--services col-->
        </div><!--services row-->
    </div>
</div><!--assan features-->

<div class="divide40"></div>

{% include footer.html %}