{% include header.html %}

<div class="divide60"></div> 
<div class="container blog-left-img">
    <div class="row">
        <div class="col-xs-12">
            <div class="blog-post">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 margin20">
                        <ul class="list-inline post-detail">
                            <li>by {{ page.author }}</li>
                            <li><i class="fa fa-calendar"></i> {{ page.date }}</li>
                        </ul>
                        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                        {{ page.content }}
                    </div>
                </div>
            </div><!--blog post-->
        </div>
    </div>
</div>

{% include footer.html %}